* {
  font-family: "Roboto";
  margin-left: 0px;
  margin-right: 0px;
}
* .titre-cat {
  font-size: 28px;
  color: #ddc3a5;
  margin: 0;
  margin-bottom: 15px;
}
* #subtitle {
  font-size: 18px;
  color: #ddc3a5;
  margin: 0;
}

.header {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #201e20;
  margin-top: -10px;
  justify-content: space-between;
}
.header .logo {
  padding: 0 20px;
  box-sizing: border-box;
}
.header .link {
  display: flex;
  color: #ddc3a5;
}
.header .link .link-maps {
  font-size: 18px;
  padding-top: 9px;
  text-decoration: none;
  color: #ddc3a5;
  font-weight: normal;
}
.header .form-button .link-form {
  padding: 10px 30px 10px 30px;
  color: #201e20;
  background-color: #ddc3a5;
  font-size: 24px;
  margin-right: 50px;
  border-style: solid;
  border-radius: 90px;
}

.carroussel #banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 3;
}
.carroussel .banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carroussel .dots {
  position: absolute;
  bottom: 40px;
  display: flex;
}
.carroussel .dot {
  margin-inline: 5px;
  width: 7px;
  height: 7px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 100%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.carroussel .dot_selected {
  background-color: #fff;
}

.info {
  display: flex;
  width: 100%;
  background-color: #e0a96d;
}
.info .photo {
  width: 30%;
}
.info .photo img {
  z-index: 2;
  position: relative;
  border-radius: 50%;
  width: 70%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 50px 100px;
}
.info .blue-bg {
  background-color: #201e20;
  width: 100%;
  display: flex;
  position: relative;
  border-top-style: solid;
  border-top-color: #e0a96d;
  border-top-width: 5px;
}
.info .blue-bg .white-round {
  z-index: 1;
  position: absolute;
  background-color: #e0a96d;
  border-radius: 50%;
  width: 40%;
  height: 110%;
  left: -300px;
  margin-top: -10px;
}
@media screen and (min-width: 1024px) and (max-width: 1300px) {
  .info .blue-bg .white-round {
    left: -200px;
  }
}
.info .blue-bg .texte {
  padding-left: 150px;
  width: 100%;
  padding-top: 5%;
  color: #ddc3a5;
}
.info .blue-bg .texte .titre {
  text-align: center;
}
.info .blue-bg .texte .description {
  padding-left: 15%;
  width: 80%;
}

#maps {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #201e20;
  justify-content: center;
  border-top-style: solid;
  border-top-color: #e0a96d;
  border-top-width: 5px;
}
#maps .titre-maps {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
#maps .google-maps {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
#maps .google-maps #map-container {
  height: 500px;
  width: 800px;
}

#contact {
  background-color: #e0a96d;
}
#contact h2 {
  font-size: 28px;
  color: #201e20;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}/*# sourceMappingURL=style.css.map */